
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(image/image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  
}
.container{
  position: relative;
  width: 400px;
  height: 470px;
  border-radius: 25px;
  color: rgb(60, 53, 53);
  text-align: center;
  padding: 20px; 
}
.form-group {
  display: flex;
  flex-direction: column;
  width: 180px;
  background: rgb(157, 117, 43);
}

label {
  margin-bottom: 0.9rem;
  font-weight: 600;
  color: #444;
}

input, textarea {
  padding: 0.8rem;
  border: 1px solid #ccccccd2;
  border-radius: 0.7rem;
  outline: none;
  transition: 0.3s;
}
input:focus, textarea:focus {
  border-color: #080808;
  box-shadow: 0 5px rgba(0, 6, 16, 0.4);
}
button {
  width:160px;
  background: rgb(220 220 220 / 40%);
  text-align:center;
  padding: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  color: #000000;
  transition: none;
  border-radius: 0.6rem;
}

button:hover {
  background: #d9d02800;
}
